@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

body  {
    margin: 0;
    padding: 0;
}
.h1a{
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    transition: background-color .5s;
}

.h1a:hover{
    background-color: rgb(155, 155, 155);
}

a{
    list-style: none;
    color: black;
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
    font-size: 20px;
    font-family: 'Explora', cursive;
    font-size: 30px;
    font-weight: bold;
  
    display: flex;
    justify-content: center;
}

.lstyle{
    color: slateblue;
}
.photo{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    
}
.wiwi{
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

hr{
    margin-top: 0;
}


footer{
    background: linear-gradient(90deg, rgba(240,240,240,1) 54%, rgba(210,210,210,1) 62%);
    height: 300px;
    padding-top: 4%;
    padding-bottom: 0px;
    position: bottom;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}


footer p{
    font-family: 'Crimson Text', serif;
    height: max-content;
    margin-top: 3px;
}

footer p:nth-child(1){
    font-size: 25px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;

}

footer p:nth-child(2){
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}

.icons1{
    
    margin-bottom: 10px;
}