@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bonheur+Royale&display=swap');

body{
    background-color: #F7F6CF;
    
}
a:link 
{ 
 text-decoration:none; 
}
P{
    font-size: 45px;
    font-weight: bold;
    color: #606C5A;
    font-family: 'Bonheur Royale', cursive;
    text-align: center;
    padding-top: 5%;
    display: flex; justify-content: center;
}

.image{

    display:block;
    position: relative;
    margin-left: 40%;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    
}

.image:hover{
    transform: rotate(180deg);
}

.competence{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}

.text{
    font-size: 20px;
    font-family: 'Righteous', cursive;
}

.truc{
    color:#DAAB3A;

}

#truc {
    color: #6A645A;
    font-size: 32px;
}

